body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}
.product-section {
    padding: 50px 0;
}
.product-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}
.product-image {
    height: 400px; /* Set an appropriate height for the main product image */
    width: 100%; /* Let the width adjust automatically to maintain aspect ratio */
    object-fit: contain; /* Ensures it fills the container without distortion */
    padding: 10px;
}
.product-details {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
}
.price {
    font-size: 2rem;
    color: #ff6347;
    margin: 20px 0;
}
.btn-buy {
    background-color: #ff6347;
    color: #fff;
    border-radius: 0;
    transition: background-color 0.3s;
}
.btn-buy:hover {
    background-color: #e5533f;
}
.related-products {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card img {
    height: 250px; /* Adjust height as necessary */
    object-fit: cover;
    width: 100%; /* Ensures it covers the full card width */
}